<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> Spring Boot and Thymeleaf Engine </title>
</head>
<body>
    <h1> Formulario de Empregos </h1>

    <form action="#" th:action="@{/process}" th:object="${emprego}" method="post">

        <label> Titulo : </label>
        <input type="text" th:field="*{titulo}"/>
        <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span><br>

        <label> Empresa : </label>
        <input type="text" th:field="*{empresa}"/>
        <span th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></span><br>

        <label> Descrição : </label>
        <textarea rows="3" th:field="*{descricao}"> </textarea>
        <span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span><br>

        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>